.editor{
    display: flex;
}
.editor-content{
    width: 100%;
}


.editor-body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: inline-flex;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.column {
    height: auto;
    display: flex;
    flex-direction: column;
}

#left {
    flex-shrink: 0;
    background-color: white;
}

#right {
    background-color: whitesmoke;
}

.top-left {
    flex-shrink: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 50px;
    line-height: 56px;
}

.top-right {
    display: flex;
    flex-shrink: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    justify-content: flex-end;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
}

li {
    margin-right: 20px;
}

.edit-section{
    padding:15px
}

.undo-btn{
    background: #008CBA;
    color:black;
}

.redo-btn {
    background: green;
    color:white
}
.save-btn {
    background: gray;
    color:black
}
.cancel-btn {
    background: #f44336;
    color:black
}
.step-count{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    border: 1px solid;
    padding: 5px 8px;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}