.list-item{
    display: flex;
    align-items: center;
    padding:10px;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    cursor:pointer;
}

li:hover{
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.list-item .active{
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}