
.trait-box{
    display: flex;
    justify-content: space-between;
}

.instrument-box {
    display: flex;
    justify-content: space-between;
}
.tech-box {
    text-align: justify;
    column-count: 3;
    column-gap: 40px;
}
.outer-section{
    border:1px solid white;
    margin-bottom:10px
}
.section-header{
    background: aliceblue;
    padding: 10px;
}